openapi: 3.2.0
info:
  title: Perigon News & Stories API
  description: The Perigon API provides access to comprehensive news and web content data. To use the API, simply sign up for a Perigon Business Solutions account to obtain your API key. Your available features may vary based on your plan. See the Authentication section for details on how to use your API key.
  contact:
    name: Perigon Support
    url: https://docs.perigon.io/
    email: data@perigon.io
  version: 1.0.0
servers:
- url: https://api.perigon.io
  description: Generated server url
security:
- apiKeyAuth: []
tags:
- name: News & Stories
  description: Endpoints for accessing news articles and stories
paths:
  /v1/articles/all:
    get:
      tags:
      - News & Stories
      summary: All Articles
      description: Search and filter all news articles available via the Perigon API. The result includes a list of individual articles that were matched to your specific criteria.
      operationId: search-articles
      parameters:
      - name: q
        in: query
        description: String. Primary search query for filtering articles based on their title, description, and content. Supports Boolean operators (AND, OR, NOT), exact phrases with quotes, and wildcards (* and ?) for flexible searching.
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: String. Search specifically within article headlines/titles. Supports Boolean operators, exact phrases with quotes, and wildcards for matching title variations.
        required: false
        schema:
          type: string
      - name: desc
        in: query
        description: String. Search within article description fields. Supports Boolean expressions, exact phrase matching with quotes, and wildcards for flexible pattern matching.
        required: false
        schema:
          type: string
      - name: content
        in: query
        description: String. Search within the full article body content. Supports Boolean logic, exact phrase matching with quotes, and wildcards for comprehensive content searching.
        required: false
        schema:
          type: string
      - name: summary
        in: query
        description: String. Search within article summary fields. Supports Boolean expressions, exact phrase matching with quotes, and wildcards for flexible pattern matching.
        required: false
        schema:
          type: string
      - name: url
        in: query
        description: String. Search query on the url field. Semantic similar to q parameter. E.g. could be used for querying certain website sections, e.g. source=cnn.com&url=travel.
        required: false
        schema:
          type: string
      - name: articleId
        in: query
        description: String Array. Retrieve specific news articles by their unique article identifiers. Multiple IDs can be provided to return a collection of specific articles.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: clusterId
        in: query
        description: String Array. Filter results to only show content within a specific related content cluster. Returns articles grouped together as part of Perigon Stories based on topic relevance.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sortBy
        in: query
        description: String. Determines the article sorting order. Options include relevance (default), date/pubDate (newest publication date first), reverseDate (oldest publication date first), addDate (newest ingestion date first), reverseAddDate (oldest ingestion date first), and refreshDate (most recently updated in system first, often identical to addDate).
        required: false
        schema:
          $ref: '#/components/schemas/AllEndpointSortBy'
      - name: page
        in: query
        description: Integer. The specific page of results to retrieve in the paginated response. Starts at 0.
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
          format: int32
      - name: size
        in: query
        description: Integer. The number of articles to return per page in the paginated response.
        required: false
        schema:
          maximum: 1000
          minimum: 0
          type: integer
          format: int32
      - name: from
        in: query
        description: Date. Filter for articles published after this date. Accepts ISO 8601 format (e.g., 2023-03-01T00:00:00) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Date. Filter for articles published before this date. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: addDateFrom
        in: query
        description: Date. Filter for articles added to Perigon's system after this date. Accepts ISO 8601 format (e.g., 2022-02-01T00:00:00) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: addDateTo
        in: query
        description: Date. Filter for articles added to Perigon's system before this date. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: refreshDateFrom
        in: query
        description: Date. Filter for articles refreshed/updated in Perigon's system after this date. In most cases yields similar results to addDateFrom but can differ for updated content. Accepts ISO 8601 format (e.g., 2022-02-01T00:00:00) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: refreshDateTo
        in: query
        description: Date. Filter for articles refreshed/updated in Perigon's system before this date. In most cases yields similar results to addDateTo but can differ for updated content. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: medium
        in: query
        description: String Array. Filter articles by their primary medium type. Accepts Article for written content or Video for video-based stories. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: source
        in: query
        description: String Array. Filter articles by specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceGroup
        in: query
        description: String Array. Filter articles using Perigon's curated publisher bundles (e.g., top100, top25crypto). Multiple values create an OR filter to include articles from any of the specified bundles.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSourceGroup
        in: query
        description: String Array. Exclude articles from specified Perigon source groups. Multiple values create an AND-exclude filter, removing content from publishers in any of the specified bundles (e.g., top10, top100).
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSource
        in: query
        description: String Array. Exclude articles from specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). Multiple values create an AND-exclude filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: watchlist
        in: query
        description: String Array. Filter articles using watchlists of people and companies. Multiple values create an OR filter to include articles mentioning any entity from the specified watchlists.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeWatchlist
        in: query
        description: String Array. Exclude articles mentioning entities from specified watchlists. Multiple values create an AND-exclude filter, removing content mentioning any entity from the specified watchlists.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: paywall
        in: query
        description: Boolean. Filter to show only results where the source has a paywall (true) or does not have a paywall (false).
        required: false
        schema:
          type: boolean
      - name: byline
        in: query
        description: String Array. Filter articles by author bylines. Works as an exact match for each author name provided. Multiple values create an OR filter to find articles by any of the specified authors.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: author
        in: query
        description: String Array. Filter articles by specific author names. Works as an exact match for each name. Multiple values create an OR filter to find articles by any of the specified authors.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeAuthor
        in: query
        description: String Array. Exclude articles written by specific authors. Any article with an author name matching an entry in this list will be omitted from results. Multiple values create an AND-exclude filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: journalistId
        in: query
        description: String Array. Filter by unique journalist identifiers which can be found through the Journalist API or in the matchedAuthors field. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeJournalistId
        in: query
        description: String Array. Exclude articles written by specific journalists identified by their unique IDs. Multiple values create an AND-exclude filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: language
        in: query
        description: String Array. Filter articles by their language using ISO-639 two-letter codes (e.g., en, es, fr). Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeLanguage
        in: query
        description: String Array. Exclude articles in specific languages using ISO-639 two-letter codes. Multiple values create an AND-exclude filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: searchTranslation
        in: query
        description: Boolean. Expand search to include translated content fields for non-English articles. When true, searches translated title, description, and content fields.
        required: false
        schema:
          type: boolean
      - name: label
        in: query
        description: String Array. Filter articles by editorial labels such as Opinion, Paid-news, Non-news, Fact Check, or Press Release. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeLabel
        in: query
        description: String Array. Exclude articles with specific editorial labels. Multiple values create an AND-exclude filter, removing all content with any of these labels.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: category
        in: query
        description: 'String Array. Filter by categories. Categories are general themes that the article is about. Examples of categories: Tech, Politics, etc. If multiple parameters are passed, they will be applied as OR operations. Use ''none'' to search uncategorized articles.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeCategory
        in: query
        description: String Array. Exclude articles with specific categories. Multiple values create an AND-exclude filter, removing all content with any of these categories.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: topic
        in: query
        description: String Array. Filter by specific topics such as Markets, Crime, Cryptocurrency, or College Sports. Topics are more granular than categories, and articles can have multiple topics. Use the /topics endpoint for a complete list of available topics. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeTopic
        in: query
        description: String Array. Exclude articles with specific topics. Multiple values create an AND-exclude filter, removing all content with any of these topics.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: linkTo
        in: query
        description: String. Returns only articles that contain links to the specified URL pattern. Matches against the 'links' field in article responses.
        required: false
        schema:
          type: string
      - name: showReprints
        in: query
        description: Boolean. Controls whether to include reprinted content in results. When true (default), shows syndicated articles from wire services like AP or Reuters that appear on multiple sites.
        required: false
        schema:
          type: boolean
      - name: reprintGroupId
        in: query
        description: String. Returns all articles in a specific reprint group, including the original article and all its known reprints. Use when you want to see all versions of the same content.
        required: false
        schema:
          type: string
      - name: city
        in: query
        description: String Array. Filters articles where a specified city plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the urban area in question. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeCity
        in: query
        description: String Array. A list of cities to exclude from the results. Articles that are associated with any of the specified cities will be filtered out.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: area
        in: query
        description: String Array. Filters articles where a specified area, such as a neighborhood, borough, or district, plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the area in question. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: state
        in: query
        description: String Array. Filters articles where a specified state plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the state in question. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeState
        in: query
        description: String Array. A list of states to exclude. Articles that include, or are associated with, any of the states provided here will be filtered out. This is especially useful if you want to ignore news tied to certain geographical areas (e.g., US states).
        required: false
        schema:
          type: array
          items:
            type: string
      - name: county
        in: query
        description: String Array. A list of counties to include (or specify) in the search results. This field filters the returned articles based on the county associated with the event or news. Only articles tagged with one of these counties will be included.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeCounty
        in: query
        description: String Array. Excludes articles from specific counties or administrative divisions in the search results. Accepts either a single county name or a list of county names. County names should match the format used in article metadata (e.g., 'Los Angeles County', 'Cook County'). This parameter allows for more granular geographic filter
        required: false
        schema:
          type: array
          items:
            type: string
      - name: locationsCountry
        in: query
        description: String Array. Filters articles where a specified country plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the country in question. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: country
        in: query
        description: String Array. Country code to filter by country. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeLocationsCountry
        in: query
        description: String Array. Excludes articles where a specified country plays a central role in the content, ensuring results are not deeply relevant to the country in question. If multiple parameters are passed, they will be applied as AND operations, excluding articles relevant to any of the specified countries.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: location
        in: query
        description: 'String Array. Return all articles that have the specified location. Location attributes are delimited by '':'' between key and value, and ''::'' between attributes. Example: ''city:New York::state:NY''.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: lat
        in: query
        description: Float. Latitude of the center point to search places
        required: false
        schema:
          maximum: 90
          minimum: -90
          type: number
          format: double
      - name: lon
        in: query
        description: Float. Longitude of the center point to search places
        required: false
        schema:
          maximum: 180
          minimum: -180
          type: number
          format: double
      - name: maxDistance
        in: query
        description: Float. Maximum distance (in km) from starting point to search articles by tagged places
        required: false
        schema:
          maximum: 300
          minimum: 1
          type: number
          format: double
      - name: sourceCity
        in: query
        description: String Array. Find articles published by sources that are located within a given city.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSourceCity
        in: query
        description: String Array. Excludes articles published by sources that are located within the specified cities.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceCounty
        in: query
        description: String Array. Find articles published by sources that are located within a given county.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSourceCounty
        in: query
        description: String Array. Excludes articles published by sources that are located within the specified counties.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceCountry
        in: query
        description: String Array. Find articles published by sources that are located within a given country. Must be 2 character country code (i.e. us, gb, etc).
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSourceCountry
        in: query
        description: String Array. Excludes articles published by sources that are located within the specified countries. Must be 2 character country codes (e.g., us, gb).
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceState
        in: query
        description: String Array. Find articles published by sources that are located within a given state.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeSourceState
        in: query
        description: String Array. Excludes articles published by sources that are located within the specified states.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceLat
        in: query
        description: Float. Latitude of the center point to search articles created by local publications.
        required: false
        schema:
          maximum: 90
          minimum: -90
          type: number
          format: double
      - name: sourceLon
        in: query
        description: Float. Longitude of the center point to search articles created by local publications.
        required: false
        schema:
          maximum: 180
          minimum: -180
          type: number
          format: double
      - name: sourceMaxDistance
        in: query
        description: Float. Maximum distance from starting point to search articles created by local publications.
        required: false
        schema:
          maximum: 300
          minimum: 1
          type: number
          format: double
      - name: personWikidataId
        in: query
        description: String Array. Filter articles by Wikidata IDs of mentioned people. Refer to the /people endpoint for a complete list of tracked individuals.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludePersonWikidataId
        in: query
        description: String Array. Exclude articles mentioning people with specific Wikidata IDs. Creates an AND-exclude filter to remove content about these individuals. Uses precise identifiers to avoid name ambiguity.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: personName
        in: query
        description: String Array. Filter articles by exact person name matches. Does not support Boolean or complex logic. For available person entities, consult the /people endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludePersonName
        in: query
        description: String Array. Exclude articles mentioning specific people by name. Creates an AND-exclude filter to remove content about these individuals.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyId
        in: query
        description: String Array. Filter articles by company identifiers. For a complete list of tracked companies, refer to the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeCompanyId
        in: query
        description: String Array. Exclude articles mentioning companies with specific identifiers. Creates an AND-exclude filter to remove content about these corporate entities.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyName
        in: query
        description: String. Filter articles by company name mentions. Performs an exact match on company names.
        required: false
        schema:
          type: string
      - name: companyDomain
        in: query
        description: String Array. Filter articles by company domains (e.g., apple.com). For available company entities, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeCompanyDomain
        in: query
        description: String Array. Exclude articles related to companies with specific domains. Creates an AND-exclude filter to remove content about these companies.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companySymbol
        in: query
        description: String Array. Filter articles by company stock symbols. For available company entities and their symbols, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyIsin
        in: query
        description: String Array. Filter articles by company ISIN codes (International Securities Identification Numbers). For available company entities and their ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: companySymbolIsin
        in: query
        description: String Array. Filter articles by ISIN codes on company ticker listings (symbols.isin). Distinct from companyIsin, which matches the company-level ISIN. For available company entities and their listing ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: excludeCompanyIsin
        in: query
        description: String Array. Exclude articles related to companies with specific ISIN codes. Creates an AND-exclude filter to remove content about these companies. For available company entities and their ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: excludeCompanySymbolIsin
        in: query
        description: String Array. Exclude articles related to companies whose ticker listings have these ISIN codes (symbols.isin). Distinct from excludeCompanyIsin, which matches the company-level ISIN. For available company entities and their listing ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: excludeCompanySymbol
        in: query
        description: String Array. A list of stock symbols (ticker symbols) that identify companies to be excluded. Articles related to companies using any of these symbols will be omitted, which is useful for targeting or avoiding specific public companies.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: showNumResults
        in: query
        description: Boolean. Whether to show the total number of all matched articles. Default value is false which makes queries a bit more efficient but also counts up to 10000 articles.
        required: false
        schema:
          type: boolean
      - name: positiveSentimentFrom
        in: query
        description: Float. Filter articles with a positive sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: positiveSentimentTo
        in: query
        description: Float. Filter articles with a positive sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentFrom
        in: query
        description: Float. Filter articles with a neutral sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentTo
        in: query
        description: Float. Filter articles with a neutral sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentFrom
        in: query
        description: Float. Filter articles with a negative sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentTo
        in: query
        description: Float. Filter articles with a negative sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: taxonomy
        in: query
        description: 'String Array. Filters by Google Content Categories. This field will accept 1 or more categories, must pass the full name of the category. Example: taxonomy=/Finance/Banking/Other, /Finance/Investing/Funds. [Full list](https://docs.cloud.google.com/natural-language/docs/categories#version_2)'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: prefixTaxonomy
        in: query
        description: 'String. Filters by Google Content Categories. This field will filter by the category prefix only. Example: prefixTaxonomy=/Finance'
        required: false
        schema:
          type: string
      - name: showHighlighting
        in: query
        description: Boolean. When set to true, enables text highlighting in search results.
        required: false
        schema:
          type: boolean
      - name: highlightFragmentSize
        in: query
        description: Integer. Specifies the size in characters of each highlighted text fragment. Defaults to 100 if not specified.
        required: false
        schema:
          type: integer
          format: int32
      - name: highlightNumFragments
        in: query
        description: Integer. Controls the maximum number of highlighted fragments to return per field.
        required: false
        schema:
          type: integer
          format: int32
      - name: highlightPreTag
        in: query
        description: String. Defines the HTML tag that appears before highlighted text. Defaults to '<em>' if not specified.
        required: false
        schema:
          type: string
      - name: highlightPostTag
        in: query
        description: String. Defines the HTML tag that appears after highlighted text. Defaults to '</em>' if not specified.
        required: false
        schema:
          type: string
      - name: highlightQ
        in: query
        description: 'String. Specifies a separate query for highlighting, allowing highlights based on terms different from the main search query. Example: main query ''q=climate change'' with ''highlightQ=renewable OR solar'' will highlight terms ''renewable'' and ''solar'' in results about climate change.'
        required: false
        schema:
          type: string
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySearchResult'
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/articles/refresh/jobs:
    post:
      tags:
      - News & Stories
      summary: Submit an article refresh job
      description: Submits article ids for background refresh. Articles resolvable from a fresh cache are returned immediately; the rest are scheduled for processing. Poll the job status endpoint for results.
      operationId: submit-article-refresh-job
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleRefreshSubmitRequest'
        required: true
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '404':
          description: 404 - One or more article ids do not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleRefreshJobResponse'
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/articles/refresh/jobs/{id}:
    get:
      tags:
      - News & Stories
      summary: Get article refresh job status
      description: Returns the job status together with whatever per-article results have been computed so far. Results are immutable snapshots taken when each article was processed.
      operationId: get-article-refresh-job
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '404':
          description: 404 - Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleRefreshJobResponse'
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/articles/refresh/peek:
    post:
      tags:
      - News & Stories
      summary: Peek cached article refresh data
      description: Returns whatever refreshed article data is already cached, on a best-effort basis, without scheduling any processing or creating a job.
      operationId: peek-article-refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleRefreshSubmitRequest'
        required: true
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleRefreshPeekResponse'
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/stories/all:
    get:
      tags:
      - News & Stories
      summary: Stories
      description: 'Track evolving narratives and top news headlines with the ''**Stories**'' endpoint — it returns structured clusters of related articles with summaries, key points, sentiment scores, and metadata on top people, companies, topics, countries, and categories. Use it to monitor how news stories develop over time, who and what they impact, and where they''re gaining traction globally.


        Each story represents a cluster of related articles grouped during processing. Articles are assigned to a single story, identified by the `clusterId` field. Once a story reaches five articles, a story title is automatically generated based on its content. Stories update as new coverage is processed and key details evolve.


        To fetch all articles within a specific story, query the `/articles/all` endpoint using the `clusterId` parameter.'
      operationId: search-stories
      parameters:
      - name: q
        in: query
        description: String. Primary search query for filtering stories based on their name, summary, and key points. Supports Boolean operators (AND, OR, NOT), exact phrases with quotes, and wildcards (* and ?) for flexible searching.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: String. Search specifically within story names. Supports Boolean operators, exact phrases with quotes, and wildcards for matching name variations.
        required: false
        schema:
          type: string
      - name: clusterId
        in: query
        description: String Array. Filter to specific stories using their unique identifiers. Each clusterId represents a distinct story that groups related articles. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeClusterId
        in: query
        description: String Array. Excludes specific stories from the results by their unique identifiers. Use this parameter to filter out unwanted or previously seen stories.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sortBy
        in: query
        description: String. Determines the story sorting order. Options include createdAt (default, when stories first emerged), updatedAt (when stories received new articles, best for tracking developing events), relevance (best match to query), count (by unique article count), and totalCount (by total article count including reprints).
        required: false
        schema:
          $ref: '#/components/schemas/ClustersListSortBy'
      - name: page
        in: query
        description: Integer. The specific page of results to retrieve in the paginated response. Starts at 0.
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
          format: int32
      - name: size
        in: query
        description: Integer. The number of articles to return per page in the paginated response.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
      - name: from
        in: query
        description: Filter for stories created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Filter for stories created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: initializedFrom
        in: query
        description: Filter for stories initialized on or after this date. A story is initialized when it becomes visible with generated story data.
        required: false
        schema:
          type: string
          format: date-time
      - name: initializedTo
        in: query
        description: Filter for stories initialized on or before this date. A story is initialized when it becomes visible with generated story data.
        required: false
        schema:
          type: string
          format: date-time
      - name: updatedFrom
        in: query
        description: Date. Filter for stories that received new articles after this date. Useful for tracking developing news events or evolving storylines.
        required: false
        schema:
          type: string
          format: date-time
      - name: updatedTo
        in: query
        description: Date. Filter for stories that received new articles before this date. Useful for tracking developing news events or evolving storylines.
        required: false
        schema:
          type: string
          format: date-time
      - name: topic
        in: query
        description: String Array. Filter stories by specific topics such as Markets, Crime, Cryptocurrency, or College Sports. Topics are more granular than categories, and stories can include multiple topics based on their constituent articles. Use the /topics endpoint for a complete list of available topics. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: category
        in: query
        description: String Array. Filter stories by broad content categories such as Politics, Tech, Sports, Business, or Finance. Use 'none' to find uncategorized stories. Categories are derived from the articles within each story. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: taxonomy
        in: query
        description: 'String Array. Filter stories by Google Content Categories. Must pass the full hierarchical path of the category. Example: taxonomy=/Finance/Banking/Other,/Finance/Investing/Funds. Stories are categorized based on their constituent articles. Multiple values create an OR filter.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: source
        in: query
        description: String Array. Filter stories that contain articles from specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). A story will match if it contains at least one article from any of the specified sources. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceGroup
        in: query
        description: String Array. Filter stories that contain articles from publishers in Perigon's curated bundles (e.g., top100, top25crypto). A story will match if it contains at least one article from any publisher in the specified bundles. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: minUniqueSources
        in: query
        description: Integer. Specifies the minimum number of unique sources required for a story to appear in results. Higher values return more significant stories covered by multiple publications. Default is 3.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: minSourceDiversity
        in: query
        description: Float. Minimum ratio of unique sources to unique articles (uniqueSources / uniqueCount). Filters out stories dominated by a single publisher. For example, a value of 0.05 requires at least 1 unique source per 20 articles. Not applied by default.
        required: false
        schema:
          maximum: 1
          minimum: 0
          type: number
      - name: personWikidataId
        in: query
        description: String Array. Filter stories by Wikidata IDs of top mentioned people. Returns stories where these individuals appear prominently. Refer to the /people endpoint for a complete list of tracked individuals.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: personName
        in: query
        description: String. Filter stories by exact name matches of top mentioned people. Does not support Boolean or complex logic. For available person entities, consult the /people endpoint.
        required: false
        schema:
          type: string
      - name: companyId
        in: query
        description: String Array. Filter stories by identifiers of top mentioned companies. Returns stories where these companies appear prominently. For a complete list of tracked companies, refer to the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyName
        in: query
        description: String. Filter stories by names of top mentioned companies. Performs an exact match on company names in the topCompanies field.
        required: false
        schema:
          type: string
      - name: companyDomain
        in: query
        description: String Array. Filter stories by domains of top mentioned companies (e.g., apple.com). Returns stories where companies with these domains appear prominently. For available company entities, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companySymbol
        in: query
        description: String Array. Filter stories by stock symbols of top mentioned companies. Returns stories where companies with these symbols appear prominently. For available company entities and their symbols, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyIsin
        in: query
        description: String Array. Filter stories by ISIN codes of top mentioned companies (International Securities Identification Numbers). Returns stories where companies with these ISINs appear prominently. For available company entities and their ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: companySymbolIsin
        in: query
        description: String Array. Filter stories by ISIN codes on ticker listings of top mentioned companies (symbols.isin). Distinct from companyIsin, which matches the company-level ISIN. Returns stories where those companies appear prominently. For available company entities and their listing ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: country
        in: query
        description: String Array. Country code to filter by country. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: state
        in: query
        description: String Array. Filter local news by state. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: city
        in: query
        description: String Array. Filter local news by city. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: area
        in: query
        description: String Array. Filter local news by area. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: minClusterSize
        in: query
        description: Integer. Filter by minimum cluster size. Minimum cluster size filter applies to number of unique articles.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: maxClusterSize
        in: query
        description: Integer. Filter by maximum cluster size. Maximum cluster size filter applies to number of unique articles in the cluster.
        required: false
        schema:
          type: integer
          format: int32
      - name: nameExists
        in: query
        description: Boolean. Filter to only include stories that have been assigned names. Defaults to true. Note that stories only receive names after they contain at least 5 unique articles.
        required: false
        schema:
          type: boolean
      - name: positiveSentimentFrom
        in: query
        description: Filter stories with an aggregate positive sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: positiveSentimentTo
        in: query
        description: Filter stories with an aggregate positive sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentFrom
        in: query
        description: Filter stories with an aggregate neutral sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentTo
        in: query
        description: Filter stories with an aggregate neutral sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentFrom
        in: query
        description: Filter stories with an aggregate negative sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentTo
        in: query
        description: Filter stories with an aggregate negative sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: showStoryPageInfo
        in: query
        description: Boolean.
        required: false
        schema:
          type: boolean
      - name: showNumResults
        in: query
        description: Boolean. Show total number of results. By default set to false, will cap result count at 10000.
        required: false
        schema:
          type: boolean
      - name: showDuplicates
        in: query
        description: Boolean. Stories are deduplicated by default. If a story is deduplicated, all future articles are merged into the original story. duplicateOf field contains the original cluster Id. When showDuplicates=true, all stories are shown.
        required: false
        schema:
          type: boolean
      - name: showHighlighting
        in: query
        description: Boolean. When set to true, enables text highlighting in search results.
        required: false
        schema:
          type: boolean
      - name: highlightFragmentSize
        in: query
        description: Integer. Specifies the size in characters of each highlighted text fragment. Defaults to 100 if not specified.
        required: false
        schema:
          type: integer
          format: int32
      - name: highlightNumFragments
        in: query
        description: Integer. Controls the maximum number of highlighted fragments to return per field.
        required: false
        schema:
          type: integer
          format: int32
      - name: highlightPreTag
        in: query
        description: String. Defines the HTML tag that appears before highlighted text. Defaults to '<em>' if not specified.
        required: false
        schema:
          type: string
      - name: highlightPostTag
        in: query
        description: String. Defines the HTML tag that appears after highlighted text. Defaults to '</em>' if not specified.
        required: false
        schema:
          type: string
      - name: highlightQ
        in: query
        description: 'String. Specifies a separate query for highlighting, allowing highlights based on terms different from the main search query. Example: main query ''q=climate change'' with ''highlightQ=renewable OR solar'' will highlight terms ''renewable'' and ''solar'' in results about climate change.'
        required: false
        schema:
          type: string
      - name: expandArticles
        in: query
        description: Boolean. Preview 5 articles from the cluster.
        required: false
        schema:
          type: boolean
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySearchResult'
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/stories/history:
    get:
      tags:
      - News & Stories
      summary: Story History
      description: Retrieve previous generated versions of stories and their evolving summaries, key points, questions, and changelogs.
      operationId: get-story-history
      parameters:
      - name: clusterId
        in: query
        description: Filter history records by story cluster ID. Multiple values are combined with OR.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: Filter for history records created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Filter for history records created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: sortBy
        in: query
        description: Field used to sort history records in descending order. Accepts createdAt or triggeredAt and defaults to createdAt.
        required: false
        schema:
          type: string
          enum:
          - createdAt
          - triggeredAt
      - name: page
        in: query
        description: Integer. Zero-based page number. From 0 to 10000. See the Pagination section for limitations.
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
          format: int32
      - name: size
        in: query
        description: Integer. Number of stories results per page, from 0 to 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
      - name: changelogExists
        in: query
        description: Filter by whether a history record contains a changelog. Use true to require one or false to require its absence.
        required: false
        schema:
          type: boolean
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryHistoryResult'
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/stories/stats:
    get:
      tags:
      - News & Stories
      summary: Story Count Statistics
      description: Count matching stories by their creation time. Results can be grouped by hour, day, week, or month and filtered by supported story attributes.
      operationId: get-story-counts
      parameters:
      - name: q
        in: query
        description: String. Primary search query for filtering stories based on their name, summary, and key points. Supports Boolean operators (AND, OR, NOT), exact phrases with quotes, and wildcards (* and ?) for flexible searching.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: String. Search specifically within story names. Supports Boolean operators, exact phrases with quotes, and wildcards for matching name variations.
        required: false
        schema:
          type: string
      - name: clusterId
        in: query
        description: String Array. Filter to specific stories using their unique identifiers. Each clusterId represents a distinct story that groups related articles. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: excludeClusterId
        in: query
        description: String Array. Excludes specific stories from the results by their unique identifiers. Use this parameter to filter out unwanted or previously seen stories.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: Filter for stories created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Filter for stories created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date-time
      - name: initializedFrom
        in: query
        description: Filter for stories initialized on or after this date. A story is initialized when it becomes visible with generated story data.
        required: false
        schema:
          type: string
          format: date-time
      - name: initializedTo
        in: query
        description: Filter for stories initialized on or before this date. A story is initialized when it becomes visible with generated story data.
        required: false
        schema:
          type: string
          format: date-time
      - name: updatedFrom
        in: query
        description: Date. Filter for stories that received new articles after this date. Useful for tracking developing news events or evolving storylines.
        required: false
        schema:
          type: string
          format: date-time
      - name: updatedTo
        in: query
        description: Date. Filter for stories that received new articles before this date. Useful for tracking developing news events or evolving storylines.
        required: false
        schema:
          type: string
          format: date-time
      - name: topic
        in: query
        description: String Array. Filter stories by specific topics such as Markets, Crime, Cryptocurrency, or College Sports. Topics are more granular than categories, and stories can include multiple topics based on their constituent articles. Use the /topics endpoint for a complete list of available topics. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: category
        in: query
        description: String Array. Filter stories by broad content categories such as Politics, Tech, Sports, Business, or Finance. Use 'none' to find uncategorized stories. Categories are derived from the articles within each story. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: taxonomy
        in: query
        description: 'String Array. Filter stories by Google Content Categories. Must pass the full hierarchical path of the category. Example: taxonomy=/Finance/Banking/Other,/Finance/Investing/Funds. Stories are categorized based on their constituent articles. Multiple values create an OR filter.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: source
        in: query
        description: String Array. Filter stories that contain articles from specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). A story will match if it contains at least one article from any of the specified sources. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sourceGroup
        in: query
        description: String Array. Filter stories that contain articles from publishers in Perigon's curated bundles (e.g., top100, top25crypto). A story will match if it contains at least one article from any publisher in the specified bundles. Multiple values create an OR filter.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: minUniqueSources
        in: query
        description: Integer. Specifies the minimum number of unique sources required for a story to appear in results. Higher values return more significant stories covered by multiple publications. Default is 3.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: minSourceDiversity
        in: query
        description: Float. Minimum ratio of unique sources to unique articles (uniqueSources / uniqueCount). Filters out stories dominated by a single publisher. For example, a value of 0.05 requires at least 1 unique source per 20 articles. Not applied by default.
        required: false
        schema:
          maximum: 1
          minimum: 0
          type: number
      - name: personWikidataId
        in: query
        description: String Array. Filter stories by Wikidata IDs of top mentioned people. Returns stories where these individuals appear prominently. Refer to the /people endpoint for a complete list of tracked individuals.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: personName
        in: query
        description: String. Filter stories by exact name matches of top mentioned people. Does not support Boolean or complex logic. For available person entities, consult the /people endpoint.
        required: false
        schema:
          type: string
      - name: companyId
        in: query
        description: String Array. Filter stories by identifiers of top mentioned companies. Returns stories where these companies appear prominently. For a complete list of tracked companies, refer to the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyName
        in: query
        description: String. Filter stories by names of top mentioned companies. Performs an exact match on company names in the topCompanies field.
        required: false
        schema:
          type: string
      - name: companyDomain
        in: query
        description: String Array. Filter stories by domains of top mentioned companies (e.g., apple.com). Returns stories where companies with these domains appear prominently. For available company entities, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companySymbol
        in: query
        description: String Array. Filter stories by stock symbols of top mentioned companies. Returns stories where companies with these symbols appear prominently. For available company entities and their symbols, consult the /companies endpoint.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: companyIsin
        in: query
        description: String Array. Filter stories by ISIN codes of top mentioned companies (International Securities Identification Numbers). Returns stories where companies with these ISINs appear prominently. For available company entities and their ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: companySymbolIsin
        in: query
        description: String Array. Filter stories by ISIN codes on ticker listings of top mentioned companies (symbols.isin). Distinct from companyIsin, which matches the company-level ISIN. Returns stories where those companies appear prominently. For available company entities and their listing ISINs, consult the /companies endpoint.
        required: false
        schema:
          maxItems: 300
          minItems: 0
          type: array
          items:
            type: string
      - name: country
        in: query
        description: String Array. Country code to filter by country. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: state
        in: query
        description: String Array. Filter local news by state. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: city
        in: query
        description: String Array. Filter local news by city. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: area
        in: query
        description: String Array. Filter local news by area. Applies only to local news, when this param is passed non-local news will not be returned. If multiple parameters are passed, they will be applied as OR operations.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: minClusterSize
        in: query
        description: Integer. Filter by minimum cluster size. Minimum cluster size filter applies to number of unique articles.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: maxClusterSize
        in: query
        description: Integer. Filter by maximum cluster size. Maximum cluster size filter applies to number of unique articles in the cluster.
        required: false
        schema:
          type: integer
          format: int32
      - name: nameExists
        in: query
        description: Boolean. Filter to only include stories that have been assigned names. Defaults to true. Note that stories only receive names after they contain at least 5 unique articles.
        required: false
        schema:
          type: boolean
      - name: positiveSentimentFrom
        in: query
        description: Filter stories with an aggregate positive sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: positiveSentimentTo
        in: query
        description: Filter stories with an aggregate positive sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentFrom
        in: query
        description: Filter stories with an aggregate neutral sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: neutralSentimentTo
        in: query
        description: Filter stories with an aggregate neutral sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentFrom
        in: query
        description: Filter stories with an aggregate negative sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: negativeSentimentTo
        in: query
        description: Filter stories with an aggregate negative sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.
        required: false
        schema:
          type: number
          format: float
      - name: showDuplicates
        in: query
        description: Boolean. Stories are deduplicated by default. If a story is deduplicated, all future articles are merged into the original story. duplicateOf field contains the original cluster Id. When showDuplicates=true, all stories are shown.
        required: false
        schema:
          type: boolean
      - name: splitBy
        in: query
        description: Time interval used to group story counts. Accepts hour, day, week, or month and defaults to month.
        required: true
        schema:
          type: string
          default: month
          enum:
          - hour
          - day
          - week
          - month
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatResult'
              example:
                status: 200
                results:
                - date: '2025-07-01T00:00:00Z'
                  numResults: 78032
                - date: '2025-08-01T00:00:00Z'
                  numResults: 24508
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
  /v1/vector/news/all:
    post:
      tags:
      - News & Stories
      summary: News (Vector)
      description: Perform a natural language search over news articles from the past 6 months using semantic relevance. The result includes a list of articles most closely matched to your query intent.
      operationId: vector-search-articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleSearchParams'
        required: true
      responses:
        '401':
          description: 401 - Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 401
                message: Invalid API key.
                timestamp: 1681338367402
        '200':
          description: 200 - Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticlesVectorSearchResult'
        '500':
          description: 500 - Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 500
                message: Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)
                timestamp: 1681338367402
        '400':
          description: 400 - Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 400
                message: Errors during parameter validation.
                timestamp: 1681338367402
        '403':
          description: 403 - Request Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 403
                message: The number of allowed requests is exceeded.
                timestamp: 1681338367402
        '429':
          description: 429 - Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: 429
                message: Exceeded request rate limit for your account.
                timestamp: 1681338367402
      security:
      - apiKeyAuth: []
components:
  schemas:
    NameCount:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the aggregated value.
        count:
          type:
          - integer
          - 'null'
          description: Number of matching records for the value.
          format: int64
      description: Countries most frequently associated with the journalist's articles.
    ErrorResponse:
      type: object
      properties:
        status:
          type:
          - integer
          - 'null'
          format: int32
        message:
          type:
          - string
          - 'null'
        timestamp:
          type:
          - integer
          - 'null'
          format: int64
    KeywordHolder:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Keyword extracted from the article.
        weight:
          type:
          - number
          - 'null'
          description: Relative relevance weight of the keyword.
          format: float
      description: Keywords extracted from the article with their relevance weights.
    StoryHistoryRecord:
      type: object
      properties:
        clusterId:
          type:
          - string
          - 'null'
          description: Unique identifier of the story associated with this history record.
        createdAt:
          type:
          - string
          - 'null'
          description: Date and time the history record was created, in ISO 8601 format.
        name:
          type:
          - string
          - 'null'
          description: Story name captured in this history record, when available.
        triggeredAt:
          type:
          - string
          - 'null'
          description: Date and time the story refresh that produced this record was triggered, in ISO 8601 format.
        summary:
          type:
          - string
          - 'null'
          description: Story summary captured in this history record.
        shortSummary:
          type:
          - string
          - 'null'
          description: Short story summary captured in this history record, when available.
        changelog:
          type:
          - string
          - 'null'
          description: Description of changes from the previous story version, when available.
        keyPoints:
          type:
          - array
          - 'null'
          description: Key points captured for this version of the story.
          items:
            $ref: '#/components/schemas/KeyPoint'
        questions:
          type:
          - array
          - 'null'
          description: Questions and answers generated for this version of the story.
          items:
            $ref: '#/components/schemas/Question'
      description: History records returned for the requested page.
    ArticleRefreshJobResponse:
      type: object
      properties:
        jobId:
          type:
          - string
          - 'null'
          format: uuid
        status:
          type:
          - string
          - 'null'
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ArticleRefreshJobArticleResult'
    KeyPoint:
      type: object
      properties:
        point:
          type:
          - string
          - 'null'
          description: A key fact or development identified in the content.
        references:
          type:
          - array
          - 'null'
          description: Article IDs supporting the key point.
          items:
            type: string
            description: Article IDs supporting the key point.
      description: Key facts and developments identified in the story.
    Journalist:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique Perigon identifier for the journalist.
        primaryRecordId:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
          description: Common display name of the journalist.
        fullName:
          type:
          - string
          - 'null'
          description: Full name of the journalist.
        headline:
          type:
          - string
          - 'null'
          description: Professional headline associated with the journalist.
        description:
          type:
          - string
          - 'null'
          description: Biographical description of the journalist.
        title:
          type:
          - string
          - 'null'
          description: Professional title of the journalist.
        email:
          type:
          - string
          - 'null'
          description: Journalist's email.
        locations:
          type:
          - array
          - 'null'
          description: Locations associated with the journalist.
          items:
            $ref: '#/components/schemas/LocationHolder'
        updatedAt:
          type:
          - string
          - 'null'
          description: Date and time the journalist record was last refreshed, in ISO 8601 format.
        topTopics:
          type:
          - array
          - 'null'
          description: Topics most frequently covered by the journalist.
          items:
            $ref: '#/components/schemas/NameCount'
        topSources:
          type:
          - array
          - 'null'
          description: Publishers most frequently associated with the journalist.
          items:
            $ref: '#/components/schemas/NameCount'
        topCategories:
          type:
          - array
          - 'null'
          description: Categories most frequently covered by the journalist.
          items:
            $ref: '#/components/schemas/NameCount'
        topLabels:
          type:
          - array
          - 'null'
          description: Editorial labels most frequently associated with the journalist's articles.
          items:
            $ref: '#/components/schemas/NameCount'
        topCountries:
          type:
          - array
          - 'null'
          description: Countries most frequently associated with the journalist's articles.
          items:
            $ref: '#/components/schemas/NameCount'
        avgMonthlyPosts:
          type:
          - integer
          - 'null'
          description: Average number of articles published by the journalist per month.
          format: int32
        twitterHandle:
          type:
          - string
          - 'null'
          description: Journalist's X or Twitter handle.
        twitterBio:
          type:
          - string
          - 'null'
          description: Biography from the journalist's X or Twitter profile.
        imageUrl:
          type:
          - string
          - 'null'
          description: Profile image URL for the journalist.
        linkedinUrl:
          type:
          - string
          - 'null'
          description: LinkedIn profile URL for the journalist.
        linkedinConnections:
          type:
          - integer
          - 'null'
          description: LinkedIn connection count for the journalist, when available.
          format: int32
        linkedinFollowers:
          type:
          - integer
          - 'null'
          description: LinkedIn follower count for the journalist, when available.
          format: int32
        facebookUrl:
          type:
          - string
          - 'null'
          description: Facebook profile URL for the journalist.
        instagramUrl:
          type:
          - string
          - 'null'
          description: Instagram profile URL for the journalist.
        websiteUrl:
          type:
          - string
          - 'null'
          description: Personal or professional website URL for the journalist.
        blogUrl:
          type:
          - string
          - 'null'
          description: Blog URL for the journalist.
        tumblrUrl:
          type:
          - string
          - 'null'
          description: Tumblr profile URL for the journalist.
        youtubeUrl:
          type:
          - string
          - 'null'
          description: YouTube channel URL for the journalist.
      description: Expanded journalist details, when requested and available.
    EventTypeHolder:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Detected event name.
        type:
          type:
          - string
          - 'null'
          description: Detected event classification.
      description: Event types detected in the article.
    RecordStatHolder:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name of the aggregated value.
        count:
          type:
          - integer
          - 'null'
          description: Number of matching articles for the value.
          format: int32
      description: Google Content Categories associated with the story and their article counts.
    VectorData:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          description: Numeric values in the vector embedding.
          items:
            type: number
            description: Numeric values in the vector embedding.
            format: float
        version:
          type:
          - integer
          - 'null'
          description: Version of the embedding representation.
          format: int32
      description: Vector embeddings associated with the article, when requested.
    SourceHolder:
      type: object
      properties:
        domain:
          type:
          - string
          - 'null'
          description: Publisher domain.
        paywall:
          type:
          - boolean
          - 'null'
          description: Whether the publisher uses a paywall, when known.
        location:
          allOf:
          - $ref: '#/components/schemas/SourceLocation'
      description: Publisher information for the selected story image.
    ArticleRefreshSubmitRequest:
      required:
      - articleIds
      type: object
      properties:
        articleIds:
          maxItems: 100
          minItems: 0
          type: array
          items:
            type: string
    Article:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
          description: Canonical URL of the article.
        authorsByline:
          type:
          - string
          - 'null'
          description: Author byline as published by the source.
        articleId:
          type:
          - string
          - 'null'
          description: Unique Perigon identifier for the article.
        clusterId:
          type:
          - string
          - 'null'
          description: Identifier of the story cluster containing the article, when assigned.
        source:
          allOf:
          - $ref: '#/components/schemas/SourceHolder'
        imageUrl:
          type:
          - string
          - 'null'
          description: Primary image URL associated with the article.
        country:
          type:
          - string
          - 'null'
          description: Two-character country code associated with the article.
        language:
          type:
          - string
          - 'null'
          description: ISO 639 two-letter language code for the article.
        pubDate:
          type:
          - string
          - 'null'
          description: Date and time the article was published, in ISO 8601 format.
        addDate:
          type:
          - string
          - 'null'
          description: Date and time the article was added to Perigon, in ISO 8601 format.
        refreshDate:
          type:
          - string
          - 'null'
          description: Date and time the article was last refreshed by Perigon, in ISO 8601 format.
        score:
          type:
          - number
          - 'null'
          description: Search relevance score for the article, when applicable.
          format: float
        title:
          type:
          - string
          - 'null'
          description: Article headline.
        description:
          type:
          - string
          - 'null'
          description: Article description or publisher-provided excerpt.
        content:
          type:
          - string
          - 'null'
          description: Full article body available to Perigon.
        enContentWordCount:
          type:
          - integer
          - 'null'
          description: Word count of the English article content, when available.
          format: int32
        medium:
          type:
          - string
          - 'null'
          description: Primary medium type, such as Article or Video.
        links:
          type:
          - array
          - 'null'
          description: URLs linked from the article content.
          items:
            type: string
            description: URLs linked from the article content.
        labels:
          type:
          - array
          - 'null'
[...]
