{"openapi":"3.0.1","info":{"title":"Perigon API","description":"The Perigon API provides access to comprehensive news and web content data. To use the API, simply sign up for a Perigon Business Solutions account to obtain your API key. Your available features may vary based on your plan. See the Authentication section for details on how to use your API key.","contact":{"name":"Perigon Support","url":"https://docs.perigon.io/","email":"data@perigon.io"},"version":"1.0.0"},"servers":[{"url":"https://api.perigon.io","description":"Generated server url"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"News & Stories","description":"Endpoints for accessing news articles and stories"},{"name":"Supplemental Endpoints","description":"Additional endpoints for metadata and related information"},{"name":"AI & Advanced Search","description":"These endpoints enable semantic search beyond traditional keyword matching, content summarization, and advanced information retrieval across articles"},{"name":"Wikipedia","description":"Endpoints for searching ingested Wikipedia content. Provides keyword and filtered search capabilities along with vector-based semantic search across Wikipedia pages."},{"name":"Source Groups","description":"Manage custom source groups for organizing and filtering news sources. Source groups allow grouping domains together for use in search queries and monitors."},{"name":"Watchlists","description":"Manage watchlists of people and companies for use with monitors. Watchlists can contain up to 100 combined entities and are used to track mentions across news content."},{"name":"Monitors","description":"Manage AI Monitors — configurable monitors that continuously scan news content for topics, entities, and events of interest. Monitors run asynchronously and emit structured events and AI-generated summaries that can be delivered to contact points."},{"name":"Contact Points","description":"Manage contact points used to deliver monitor notifications. Contact points define where and how monitor events are delivered (e.g. webhooks). Only WEBHOOK contact points can be created and managed via the API."}],"paths":{"/v1/api/contactPoints":{"get":{"tags":["Contact Points"],"summary":"List contact points","description":"List contact points owned by the organization associated with the API key. Supports filtering by status and type. FASTN contact points are excluded from results.","operationId":"list-contact-points","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","STOPPED","FAILING","ARCHIVED"]}}},{"name":"type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["EMAIL","FASTN","WEBHOOK"]}}},{"name":"sortBy","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ContactPointSortBy"}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointListResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"post":{"tags":["Contact Points"],"summary":"Create contact point","description":"Create a new contact point under the organization associated with the API key. Only WEBHOOK contact points can be created via the API.","operationId":"create-contact-point","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointRequestBody"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointResult"}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/contactPoints/{uuid}":{"get":{"tags":["Contact Points"],"summary":"Get contact point","description":"Retrieve a contact point by UUID. Only returns contact points owned by the organization associated with the API key. FASTN contact points are not accessible via this endpoint.","operationId":"get-contact-point","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointResult"}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"delete":{"tags":["Contact Points"],"summary":"Delete contact point","description":"Delete a contact point owned by the organization associated with the API key. Contact points with historical notifications are archived rather than hard-deleted.","operationId":"delete-contact-point","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointResult"}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"patch":{"tags":["Contact Points"],"summary":"Update contact point","description":"Partially update a contact point owned by the organization associated with the API key. Only provided fields will be updated.","operationId":"update-contact-point","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointUpdateBody"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactPointResult"}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors":{"get":{"tags":["Monitors"],"summary":"List monitors","description":"List AI monitors for the organization associated with the API key. Excludes archived monitors by default. Use the status parameter to filter.","operationId":"list-monitors-api","parameters":[{"name":"uuid","in":"query","description":"Filter by one or more monitor UUIDs. Multiple values are combined with OR.","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"name","in":"query","description":"Filter by monitor name using a case-insensitive partial match.","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter by status: DRAFT, ACTIVE, STOPPED, or ARCHIVED. When omitted, archived monitors are excluded.","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["DRAFT","ACTIVE","STOPPED","ARCHIVED"]}}},{"name":"classificationType","in":"query","description":"Filter by classification type: EVENT, MENTIONS, or TOPIC. Multiple values are combined with OR.","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["EVENT","MENTIONS","TOPIC"]}}},{"name":"sortBy","in":"query","description":"Required field used to sort monitors. Accepts createdAt or updatedAt.","required":true,"schema":{"type":"string","description":"Required field used to sort monitors. Accepts createdAt or updatedAt."}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorListResult"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"post":{"tags":["Monitors"],"summary":"Create monitor","description":"Create a new AI monitor. Only AI_SIGNAL type is supported; status is required and accepts ACTIVE or DRAFT.","operationId":"create-monitor-api","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalApiCreateBody"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}":{"get":{"tags":["Monitors"],"summary":"Get monitor","description":"Retrieve a monitor by UUID for the organization associated with the API key.","operationId":"get-monitor-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor to retrieve.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"delete":{"tags":["Monitors"],"summary":"Archive monitor","description":"Archive a monitor. Archived monitors are excluded from list results by default.","operationId":"archive-monitor-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor to archive.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"patch":{"tags":["Monitors"],"summary":"Update monitor","description":"Partially update a monitor. Only provided fields are modified. Use /activate, /pause, or DELETE to change monitor status.","operationId":"update-monitor-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor to update.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalApiUpdateBody"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}/activate":{"post":{"tags":["Monitors"],"summary":"Activate monitor","description":"Activate a monitor, starting its processing pipeline.","operationId":"activate-monitor-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor to activate.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}/events":{"get":{"tags":["Monitors"],"summary":"List monitor events","description":"List structured events emitted by a monitor. Events represent individual matches detected by the monitor (e.g. a news article matching the monitor's criteria) and are produced asynchronously as new content is ingested.","operationId":"list-monitor-events-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor whose events to retrieve.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"eventType","in":"query","description":"Filter for events with this exact event type.","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Filter for events created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Filter for events created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"sortBy","in":"query","description":"Required field used to sort events. Accepts createdAt, updatedAt, or eventDate.","required":true,"schema":{"type":"string","description":"Required field used to sort events. Accepts createdAt, updatedAt, or eventDate."}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorEventListResult"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}/newsletters":{"get":{"tags":["Monitors"],"summary":"List monitor newsletters","description":"List newsletters generated for a monitor. Newsletters bundle a monitor's recent events into a human-readable digest and are produced on the monitor's configured schedule.","operationId":"list-monitor-newsletters-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor whose newsletters to retrieve.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"title","in":"query","description":"Filter by newsletter title using a case-insensitive partial match.","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Filter for newsletters created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Filter for newsletters created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"sortBy","in":"query","description":"Required field used to sort newsletters. Accepts createdAt or updatedAt.","required":true,"schema":{"type":"string","description":"Required field used to sort newsletters. Accepts createdAt or updatedAt."}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorNewsletterListResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}/pause":{"post":{"tags":["Monitors"],"summary":"Pause monitor","description":"Pause a monitor, stopping its processing pipeline.","operationId":"pause-monitor-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor to pause.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/monitors/{uuid}/summary":{"get":{"tags":["Monitors"],"summary":"List monitor summaries","description":"List AI-generated summaries produced for a monitor as matching content is processed.","operationId":"list-monitor-summaries-api","parameters":[{"name":"uuid","in":"path","description":"UUID of the monitor whose summaries to retrieve.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","description":"Filter for summaries created on or after this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Filter for summaries created on or before this date. Accepts ISO 8601 or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"sortBy","in":"query","description":"Required field used to sort summaries. Accepts createdAt or updatedAt.","required":true,"schema":{"type":"string","description":"Required field used to sort summaries. Accepts createdAt or updatedAt."}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorSummaryListResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/sourceGroups":{"get":{"tags":["Source Groups"],"summary":"List source groups","description":"List source groups owned by the organization associated with the API key, as well as publicly visible source groups. Supports filtering by name and domain.","operationId":"list-source-groups","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"domain","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SourceGroupSortBy"}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupListResult"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"post":{"tags":["Source Groups"],"summary":"Create source group","description":"Create a new source group under the organization associated with the API key.","operationId":"create-source-group","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceGroupParams"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/sourceGroups/resolve":{"get":{"tags":["Source Groups"],"summary":"Resolve source groups","description":"Resolve source groups by name. For each name, returns the organization's private source group if one exists, otherwise falls back to the matching public source group.","operationId":"resolve-source-groups","parameters":[{"name":"name","in":"query","description":"Source group names to resolve (max 100)","required":false,"schema":{"maxItems":100,"minItems":0,"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupResolveResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/sourceGroups/{id}":{"get":{"tags":["Source Groups"],"summary":"Get source group","description":"Retrieve a source group by ID. Only returns source groups owned by the organization associated with the API key.","operationId":"get-source-group","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"delete":{"tags":["Source Groups"],"summary":"Delete source group","description":"Delete a source group owned by the organization associated with the API key.","operationId":"delete-source-group","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"patch":{"tags":["Source Groups"],"summary":"Update source group","description":"Partially update a source group owned by the organization associated with the API key. Only provided fields will be updated.","operationId":"update-source-group","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSourceGroupParams"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceGroupResult"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/watchlists":{"get":{"tags":["Watchlists"],"summary":"List watchlists","description":"List watchlists owned by the organization associated with the API key, as well as publicly visible watchlists. Supports filtering by name.","operationId":"list-watchlists","parameters":[{"name":"name","in":"query","description":"Filter watchlists by name (case-insensitive, partial match)","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":true,"schema":{"$ref":"#/components/schemas/WatchlistSortBy"}},{"name":"page","in":"query","description":"Zero-based page number to retrieve. Defaults to 0.","required":false,"schema":{"minimum":0,"type":"integer","description":"Zero-based page number to retrieve. Defaults to 0.","format":"int32","default":0}},{"name":"size","in":"query","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","description":"Number of results per page. Must be between 1 and 100; defaults to 10.","format":"int32","default":10}},{"name":"sortOrder","in":"query","description":"Required direction used to sort results. Accepts asc or desc.","required":true,"schema":{"type":"string","description":"Required direction used to sort results. Accepts asc or desc.","enum":["asc","desc"]}},{"name":"nulls","in":"query","description":"Placement of null values in sorted results. Accepts first or last.","required":false,"schema":{"type":"string","description":"Placement of null values in sorted results. Accepts first or last.","enum":["first","last"]}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistListResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"post":{"tags":["Watchlists"],"summary":"Create watchlist","description":"Create a new watchlist under the organization associated with the API key. A watchlist can contain up to 100 combined people and companies.","operationId":"create-watchlist","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWatchlistParams"}}},"required":true},"responses":{"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistResult"}}}},"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/watchlists/resolve":{"get":{"tags":["Watchlists"],"summary":"Resolve watchlists","description":"Resolve watchlists by name. For each name, returns the organization's private watchlist if one exists, otherwise falls back to the matching public watchlist.","operationId":"resolve-watchlists","parameters":[{"name":"name","in":"query","description":"Watchlist names to resolve (max 100)","required":false,"schema":{"maxItems":100,"minItems":0,"type":"array","items":{"type":"string"}}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistResolveResult"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/api/watchlists/{id}":{"get":{"tags":["Watchlists"],"summary":"Get watchlist","description":"Retrieve a watchlist by ID. Only returns watchlists owned by the organization associated with the API key.","operationId":"get-watchlist","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistResult"}}}},"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"delete":{"tags":["Watchlists"],"summary":"Delete watchlist","description":"Delete a watchlist owned by the organization associated with the API key. A watchlist cannot be deleted if it is attached to active monitors.","operationId":"delete-watchlist","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistResult"}}}},"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]},"patch":{"tags":["Watchlists"],"summary":"Update watchlist","description":"Partially update a watchlist owned by the organization associated with the API key. Only provided fields will be updated.","operationId":"update-watchlist","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWatchlistParams"}}},"required":true},"responses":{"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WatchlistResult"}}}},"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/articles/all":{"get":{"tags":["News & Stories"],"summary":"All Articles","description":"Search and filter all news articles available via the Perigon API. The result includes a list of individual articles that were matched to your specific criteria.","operationId":"search-articles","parameters":[{"name":"q","in":"query","description":"String. Primary search query for filtering articles based on their title, description, and content. Supports Boolean operators (AND, OR, NOT), exact phrases with quotes, and wildcards (* and ?) for flexible searching.","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","description":"String. Search specifically within article headlines/titles. Supports Boolean operators, exact phrases with quotes, and wildcards for matching title variations.","required":false,"schema":{"type":"string"}},{"name":"desc","in":"query","description":"String. Search within article description fields. Supports Boolean expressions, exact phrase matching with quotes, and wildcards for flexible pattern matching.","required":false,"schema":{"type":"string"}},{"name":"content","in":"query","description":"String. Search within the full article body content. Supports Boolean logic, exact phrase matching with quotes, and wildcards for comprehensive content searching.","required":false,"schema":{"type":"string"}},{"name":"summary","in":"query","description":"String. Search within article summary fields. Supports Boolean expressions, exact phrase matching with quotes, and wildcards for flexible pattern matching.","required":false,"schema":{"type":"string"}},{"name":"url","in":"query","description":"String. Search query on the url field. Semantic similar to q parameter. E.g. could be used for querying certain website sections, e.g. source=cnn.com&url=travel.","required":false,"schema":{"type":"string"}},{"name":"articleId","in":"query","description":"String Array. Retrieve specific news articles by their unique article identifiers. Multiple IDs can be provided to return a collection of specific articles.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"clusterId","in":"query","description":"String Array. Filter results to only show content within a specific related content cluster. Returns articles grouped together as part of Perigon Stories based on topic relevance.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortBy","in":"query","description":"String. Determines the article sorting order. Options include relevance (default), date/pubDate (newest publication date first), reverseDate (oldest publication date first), addDate (newest ingestion date first), reverseAddDate (oldest ingestion date first), and refreshDate (most recently updated in system first, often identical to addDate).","required":false,"schema":{"$ref":"#/components/schemas/AllEndpointSortBy"}},{"name":"page","in":"query","description":"Integer. The specific page of results to retrieve in the paginated response. Starts at 0.","required":false,"schema":{"maximum":10000,"minimum":0,"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Integer. The number of articles to return per page in the paginated response.","required":false,"schema":{"maximum":1000,"minimum":0,"type":"integer","format":"int32"}},{"name":"from","in":"query","description":"Date. Filter for articles published after this date. Accepts ISO 8601 format (e.g., 2023-03-01T00:00:00) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Date. Filter for articles published before this date. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"addDateFrom","in":"query","description":"Date. Filter for articles added to Perigon's system after this date. Accepts ISO 8601 format (e.g., 2022-02-01T00:00:00) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"addDateTo","in":"query","description":"Date. Filter for articles added to Perigon's system before this date. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"refreshDateFrom","in":"query","description":"Date. Filter for articles refreshed/updated in Perigon's system after this date. In most cases yields similar results to addDateFrom but can differ for updated content. Accepts ISO 8601 format (e.g., 2022-02-01T00:00:00) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"refreshDateTo","in":"query","description":"Date. Filter for articles refreshed/updated in Perigon's system before this date. In most cases yields similar results to addDateTo but can differ for updated content. Accepts ISO 8601 format (e.g., 2022-02-01T23:59:59) or yyyy-mm-dd format.","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"medium","in":"query","description":"String Array. Filter articles by their primary medium type. Accepts Article for written content or Video for video-based stories. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"source","in":"query","description":"String Array. Filter articles by specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceGroup","in":"query","description":"String Array. Filter articles using Perigon's curated publisher bundles (e.g., top100, top25crypto). Multiple values create an OR filter to include articles from any of the specified bundles.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSourceGroup","in":"query","description":"String Array. Exclude articles from specified Perigon source groups. Multiple values create an AND-exclude filter, removing content from publishers in any of the specified bundles (e.g., top10, top100).","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSource","in":"query","description":"String Array. Exclude articles from specific publisher domains or subdomains. Supports wildcards (* and ?) for pattern matching (e.g., *.cnn.com). Multiple values create an AND-exclude filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"watchlist","in":"query","description":"String Array. Filter articles using watchlists of people and companies. Multiple values create an OR filter to include articles mentioning any entity from the specified watchlists.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeWatchlist","in":"query","description":"String Array. Exclude articles mentioning entities from specified watchlists. Multiple values create an AND-exclude filter, removing content mentioning any entity from the specified watchlists.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"paywall","in":"query","description":"Boolean. Filter to show only results where the source has a paywall (true) or does not have a paywall (false).","required":false,"schema":{"type":"boolean"}},{"name":"byline","in":"query","description":"String Array. Filter articles by author bylines. Works as an exact match for each author name provided. Multiple values create an OR filter to find articles by any of the specified authors.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"author","in":"query","description":"String Array. Filter articles by specific author names. Works as an exact match for each name. Multiple values create an OR filter to find articles by any of the specified authors.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeAuthor","in":"query","description":"String Array. Exclude articles written by specific authors. Any article with an author name matching an entry in this list will be omitted from results. Multiple values create an AND-exclude filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"journalistId","in":"query","description":"String Array. Filter by unique journalist identifiers which can be found through the Journalist API or in the matchedAuthors field. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeJournalistId","in":"query","description":"String Array. Exclude articles written by specific journalists identified by their unique IDs. Multiple values create an AND-exclude filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"language","in":"query","description":"String Array. Filter articles by their language using ISO-639 two-letter codes (e.g., en, es, fr). Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeLanguage","in":"query","description":"String Array. Exclude articles in specific languages using ISO-639 two-letter codes. Multiple values create an AND-exclude filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"searchTranslation","in":"query","description":"Boolean. Expand search to include translated content fields for non-English articles. When true, searches translated title, description, and content fields.","required":false,"schema":{"type":"boolean"}},{"name":"label","in":"query","description":"String Array. Filter articles by editorial labels such as Opinion, Paid-news, Non-news, Fact Check, or Press Release. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeLabel","in":"query","description":"String Array. Exclude articles with specific editorial labels. Multiple values create an AND-exclude filter, removing all content with any of these labels.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"category","in":"query","description":"String Array. Filter by categories. Categories are general themes that the article is about. Examples of categories: Tech, Politics, etc. If multiple parameters are passed, they will be applied as OR operations. Use 'none' to search uncategorized articles.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeCategory","in":"query","description":"String Array. Exclude articles with specific categories. Multiple values create an AND-exclude filter, removing all content with any of these categories.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"topic","in":"query","description":"String Array. Filter by specific topics such as Markets, Crime, Cryptocurrency, or College Sports. Topics are more granular than categories, and articles can have multiple topics. Use the /topics endpoint for a complete list of available topics. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeTopic","in":"query","description":"String Array. Exclude articles with specific topics. Multiple values create an AND-exclude filter, removing all content with any of these topics.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"linkTo","in":"query","description":"String. Returns only articles that contain links to the specified URL pattern. Matches against the 'links' field in article responses.","required":false,"schema":{"type":"string"}},{"name":"showReprints","in":"query","description":"Boolean. Controls whether to include reprinted content in results. When true (default), shows syndicated articles from wire services like AP or Reuters that appear on multiple sites.","required":false,"schema":{"type":"boolean"}},{"name":"reprintGroupId","in":"query","description":"String. Returns all articles in a specific reprint group, including the original article and all its known reprints. Use when you want to see all versions of the same content.","required":false,"schema":{"type":"string"}},{"name":"city","in":"query","description":"String Array. Filters articles where a specified city plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the urban area in question. If multiple parameters are passed, they will be applied as OR operations.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeCity","in":"query","description":"String Array. A list of cities to exclude from the results. Articles that are associated with any of the specified cities will be filtered out.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"area","in":"query","description":"String Array. Filters articles where a specified area, such as a neighborhood, borough, or district, plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the area in question. If multiple parameters are passed, they will be applied as OR operations.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"state","in":"query","description":"String Array. Filters articles where a specified state plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the state in question. If multiple parameters are passed, they will be applied as OR operations.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeState","in":"query","description":"String Array. A list of states to exclude. Articles that include, or are associated with, any of the states provided here will be filtered out. This is especially useful if you want to ignore news tied to certain geographical areas (e.g., US states).","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"county","in":"query","description":"String Array. A list of counties to include (or specify) in the search results. This field filters the returned articles based on the county associated with the event or news. Only articles tagged with one of these counties will be included.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeCounty","in":"query","description":"String Array. Excludes articles from specific counties or administrative divisions in the search results. Accepts either a single county name or a list of county names. County names should match the format used in article metadata (e.g., 'Los Angeles County', 'Cook County'). This parameter allows for more granular geographic filter","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"locationsCountry","in":"query","description":"String Array. Filters articles where a specified country plays a central role in the content, beyond mere mentions, to ensure the results are deeply relevant to the country in question. If multiple parameters are passed, they will be applied as OR operations.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"country","in":"query","description":"String Array. Country code to filter by country. If multiple parameters are passed, they will be applied as OR operations.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeLocationsCountry","in":"query","description":"String Array. Excludes articles where a specified country plays a central role in the content, ensuring results are not deeply relevant to the country in question. If multiple parameters are passed, they will be applied as AND operations, excluding articles relevant to any of the specified countries.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"location","in":"query","description":"String Array. Return all articles that have the specified location. Location attributes are delimited by ':' between key and value, and '::' between attributes. Example: 'city:New York::state:NY'.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"lat","in":"query","description":"Float. Latitude of the center point to search places","required":false,"schema":{"maximum":90,"minimum":-90,"type":"number","format":"double"}},{"name":"lon","in":"query","description":"Float. Longitude of the center point to search places","required":false,"schema":{"maximum":180,"minimum":-180,"type":"number","format":"double"}},{"name":"maxDistance","in":"query","description":"Float. Maximum distance (in km) from starting point to search articles by tagged places","required":false,"schema":{"maximum":300,"minimum":1,"type":"number","format":"double"}},{"name":"sourceCity","in":"query","description":"String Array. Find articles published by sources that are located within a given city.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSourceCity","in":"query","description":"String Array. Excludes articles published by sources that are located within the specified cities.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceCounty","in":"query","description":"String Array. Find articles published by sources that are located within a given county.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSourceCounty","in":"query","description":"String Array. Excludes articles published by sources that are located within the specified counties.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceCountry","in":"query","description":"String Array. Find articles published by sources that are located within a given country. Must be 2 character country code (i.e. us, gb, etc).","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSourceCountry","in":"query","description":"String Array. Excludes articles published by sources that are located within the specified countries. Must be 2 character country codes (e.g., us, gb).","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceState","in":"query","description":"String Array. Find articles published by sources that are located within a given state.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeSourceState","in":"query","description":"String Array. Excludes articles published by sources that are located within the specified states.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sourceLat","in":"query","description":"Float. Latitude of the center point to search articles created by local publications.","required":false,"schema":{"maximum":90,"minimum":-90,"type":"number","format":"double"}},{"name":"sourceLon","in":"query","description":"Float. Longitude of the center point to search articles created by local publications.","required":false,"schema":{"maximum":180,"minimum":-180,"type":"number","format":"double"}},{"name":"sourceMaxDistance","in":"query","description":"Float. Maximum distance from starting point to search articles created by local publications.","required":false,"schema":{"maximum":300,"minimum":1,"type":"number","format":"double"}},{"name":"personWikidataId","in":"query","description":"String Array. Filter articles by Wikidata IDs of mentioned people. Refer to the /people endpoint for a complete list of tracked individuals.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludePersonWikidataId","in":"query","description":"String Array. Exclude articles mentioning people with specific Wikidata IDs. Creates an AND-exclude filter to remove content about these individuals. Uses precise identifiers to avoid name ambiguity.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"personName","in":"query","description":"String Array. Filter articles by exact person name matches. Does not support Boolean or complex logic. For available person entities, consult the /people endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludePersonName","in":"query","description":"String Array. Exclude articles mentioning specific people by name. Creates an AND-exclude filter to remove content about these individuals.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companyId","in":"query","description":"String Array. Filter articles by company identifiers. For a complete list of tracked companies, refer to the /companies endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeCompanyId","in":"query","description":"String Array. Exclude articles mentioning companies with specific identifiers. Creates an AND-exclude filter to remove content about these corporate entities.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companyName","in":"query","description":"String. Filter articles by company name mentions. Performs an exact match on company names.","required":false,"schema":{"type":"string"}},{"name":"companyDomain","in":"query","description":"String Array. Filter articles by company domains (e.g., apple.com). For available company entities, consult the /companies endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"excludeCompanyDomain","in":"query","description":"String Array. Exclude articles related to companies with specific domains. Creates an AND-exclude filter to remove content about these companies.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companySymbol","in":"query","description":"String Array. Filter articles by company stock symbols. For available company entities and their symbols, consult the /companies endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companyIsin","in":"query","description":"String Array. Filter articles by company ISIN codes (International Securities Identification Numbers). For available company entities and their ISINs, consult the /companies endpoint.","required":false,"schema":{"maxItems":300,"minItems":0,"type":"array","items":{"type":"string"}}},{"name":"companySymbolIsin","in":"query","description":"String Array. Filter articles by ISIN codes on company ticker listings (symbols.isin). Distinct from companyIsin, which matches the company-level ISIN. For available company entities and their listing ISINs, consult the /companies endpoint.","required":false,"schema":{"maxItems":300,"minItems":0,"type":"array","items":{"type":"string"}}},{"name":"excludeCompanyIsin","in":"query","description":"String Array. Exclude articles related to companies with specific ISIN codes. Creates an AND-exclude filter to remove content about these companies. For available company entities and their ISINs, consult the /companies endpoint.","required":false,"schema":{"maxItems":300,"minItems":0,"type":"array","items":{"type":"string"}}},{"name":"excludeCompanySymbolIsin","in":"query","description":"String Array. Exclude articles related to companies whose ticker listings have these ISIN codes (symbols.isin). Distinct from excludeCompanyIsin, which matches the company-level ISIN. For available company entities and their listing ISINs, consult the /companies endpoint.","required":false,"schema":{"maxItems":300,"minItems":0,"type":"array","items":{"type":"string"}}},{"name":"excludeCompanySymbol","in":"query","description":"String Array. A list of stock symbols (ticker symbols) that identify companies to be excluded. Articles related to companies using any of these symbols will be omitted, which is useful for targeting or avoiding specific public companies.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"showNumResults","in":"query","description":"Boolean. Whether to show the total number of all matched articles. Default value is false which makes queries a bit more efficient but also counts up to 10000 articles.","required":false,"schema":{"type":"boolean"}},{"name":"positiveSentimentFrom","in":"query","description":"Float. Filter articles with a positive sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"positiveSentimentTo","in":"query","description":"Float. Filter articles with a positive sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger positive tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"neutralSentimentFrom","in":"query","description":"Float. Filter articles with a neutral sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"neutralSentimentTo","in":"query","description":"Float. Filter articles with a neutral sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger neutral tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"negativeSentimentFrom","in":"query","description":"Float. Filter articles with a negative sentiment score greater than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"negativeSentimentTo","in":"query","description":"Float. Filter articles with a negative sentiment score less than or equal to the specified value. Scores range from 0 to 1, with higher values indicating stronger negative tone.","required":false,"schema":{"type":"number","format":"float"}},{"name":"taxonomy","in":"query","description":"String Array. Filters by Google Content Categories. This field will accept 1 or more categories, must pass the full name of the category. Example: taxonomy=/Finance/Banking/Other, /Finance/Investing/Funds. [Full list](https://docs.cloud.google.com/natural-language/docs/categories#version_2)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"prefixTaxonomy","in":"query","description":"String. Filters by Google Content Categories. This field will filter by the category prefix only. Example: prefixTaxonomy=/Finance","required":false,"schema":{"type":"string"}},{"name":"showHighlighting","in":"query","description":"Boolean. When set to true, enables text highlighting in search results.","required":false,"schema":{"type":"boolean"}},{"name":"highlightFragmentSize","in":"query","description":"Integer. Specifies the size in characters of each highlighted text fragment. Defaults to 100 if not specified.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"highlightNumFragments","in":"query","description":"Integer. Controls the maximum number of highlighted fragments to return per field.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"highlightPreTag","in":"query","description":"String. Defines the HTML tag that appears before highlighted text. Defaults to '<em>' if not specified.","required":false,"schema":{"type":"string"}},{"name":"highlightPostTag","in":"query","description":"String. Defines the HTML tag that appears after highlighted text. Defaults to '</em>' if not specified.","required":false,"schema":{"type":"string"}},{"name":"highlightQ","in":"query","description":"String. Specifies a separate query for highlighting, allowing highlights based on terms different from the main search query. Example: main query 'q=climate change' with 'highlightQ=renewable OR solar' will highlight terms 'renewable' and 'solar' in results about climate change.","required":false,"schema":{"type":"string"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuerySearchResult"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/articles/refresh/jobs":{"post":{"tags":["News & Stories"],"summary":"Submit an article refresh job","description":"Submits article ids for background refresh. Articles resolvable from a fresh cache are returned immediately; the rest are scheduled for processing. Poll the job status endpoint for results.","operationId":"submit-article-refresh-job","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRefreshSubmitRequest"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"404":{"description":"404 - One or more article ids do not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRefreshJobResponse"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/articles/refresh/jobs/{id}":{"get":{"tags":["News & Stories"],"summary":"Get article refresh job status","description":"Returns the job status together with whatever per-article results have been computed so far. Results are immutable snapshots taken when each article was processed.","operationId":"get-article-refresh-job","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"404":{"description":"404 - Job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRefreshJobResponse"}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/articles/refresh/peek":{"post":{"tags":["News & Stories"],"summary":"Peek cached article refresh data","description":"Returns whatever refreshed article data is already cached, on a best-effort basis, without scheduling any processing or creating a job.","operationId":"peek-article-refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRefreshSubmitRequest"}}},"required":true},"responses":{"401":{"description":"401 - Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":401,"message":"Invalid API key.","timestamp":1681338367402}}}},"200":{"description":"200 - Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRefreshPeekResponse"}}}},"500":{"description":"500 - Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":500,"message":"Internal error. Please contact the support to resolve the problem. We apologize for any inconvenience :)","timestamp":1681338367402}}}},"400":{"description":"400 - Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":400,"message":"Errors during parameter validation.","timestamp":1681338367402}}}},"403":{"description":"403 - Request Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":403,"message":"The number of allowed requests is exceeded.","timestamp":1681338367402}}}},"429":{"description":"429 - Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":429,"message":"Exceeded request rate limit for your account.","timestamp":1681338367402}}}}},"security":[{"apiKeyAuth":[]}]}},"/v1/companies/all":{"get":{"tags":["Supplemental Endpoints"],"summary":"Companies","description":"Browse or search for companies Perigon tracks using name, domain, ticker symbol, industry, and more. Supports Boolean search logic and filtering by metadata such as country, exchange, employee count, and IPO date.","operationId":"search-companies","parameters":[{"name":"id","in":"query","description":"String Array. Filter by unique company identifiers. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"symbol","in":"query","description":"String Array. Filter by company stock ticker symbols (e.g., AAPL, MSFT, GOOGL). Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"symbolIsin","in":"query","description":"String Array. Filter by ISIN codes on company ticker listings. Matches symbols.isin rather than the company-level ISIN. Multiple values create an OR filter.","required":false,"schema":{"maxItems":300,"minItems":0,"type":"array","items":{"type":"string"}}},{"name":"domain","in":"query","description":"String Array. Filter by company domains or websites (e.g., apple.com, microsoft.com). Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"country","in":"query","description":"String Array. Filter by company headquarters country. Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exchange","in":"query","description":"String Array. Filter by stock exchange where companies are listed (e.g., NASDAQ, NYSE). Multiple values create an OR filter.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"numEmployeesFrom","in":"query","description":"Integer. Filter for companies with at least this many employees.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"numEmployeesTo","in":"query","description":"Integer. Filter for companies
[...]
